$broken-border: none;

@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo-Regular.otf);
}
@font-face {
  font-family: "Myriad Pro";
  src: url(../fonts/MYRIADPRO-REGULAR.woff);
}

html {
  font-size: 14px;
}

body {
  //overflow-x: hidden !important;
  font-size: 2vmin;
  .background {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    transition: height .5s linear;
    height: 10px;
    &.expanded, &:hover {
      height: 79px;
    }
    text-align: center;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    .navbar-toggle {
      display: inline-block !important;
      border-color: #3cf;
      transition: all 375ms ease-in;
    }
    #menu {
      margin-top: 0;
      padding: 0;
      background-color: #4D7EA9;
      background-color: rgba(0,0,0,0);
      right: 15px;;
      left: auto;
      a {
        color: #fff;
        font-weight: 500;
        background-color: rgba(0,0,0,0.5);
        &:hover, &:focus {
          background-color: rgba(0,0,0,0.9);
        //background-image: linear-gradient(to bottom, #335B7E 0%, #3D6E99 100%);
          background-image: none;
        }
      }
      &.menu-visible {
        display: block;
      }
    }
  }
  #fullpage {
    text-align: center;
    vertical-align: middle;

    .fp-tableCell {
      @media screen and (max-height: 750px) {
        height: auto !important;
        display: inline-block;
      }
    }

    .section {
      clear: both;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (max-height: 750px) {
        height: auto !important;
        padding-left: 30px;
        padding-right: 10px;
      }

      .slide-description {
        font-size: 1.05em;
        font-family: "Exo";
        color: rgb(78, 165, 234);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }

      .slide-title {
        & > span{
          position: relative;
          &:after {
            border-bottom: 2px solid #4186E6;
            position: absolute;
            display: inline-block;
            left: 0;
            width: 100vw;
            bottom: 0;
            content: ' ';
          }
      }
        margin-bottom: 20px;
        text-align: center;
        font-size: 2.29em;
        font-family: "Exo";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }


    }
    .slide1 {
      background-image: url(../images/Slide1.png);
      background-position: 50% 50%;
    }

    .slide2 {
      .broken-border {
        position: relative;
        height: 90%;
        overflow: hidden;
        .sw, .se, .nw, .ne {
          transform: rotate(45deg);
          position: absolute;
          height: 40px;
          width: 40px;
          //background-color: red;
        }
        .sw {
          bottom: 0;
          left: 0;
          border-bottom: $broken-border;
        }
        .se {
          bottom: 0;
          right: 0;
          border-right: $broken-border;
        }
        .nw {
          top: 0;
          left: 0;
          border-left: $broken-border;
        }
        .ne {
          top: 0;
          right: 0;
          border-top: $broken-border;
        }
        .s, .w, .n, .e {
          position: absolute;
        }
        .s, .n {
          left: 12px;
          width: calc(100% - 24px);
        }
        .w, .e {
          top: 12px;
          height: calc(100% - 24px);
        }
        .s {
          bottom: 0;
          border-bottom: $broken-border;
        }
        .n {
          top: 0;
          border-top: $broken-border;
        }
        .w {
          left: 0;
          border-left: $broken-border;
        }
        .e {
          right: 0;
          border-right: $broken-border;
        }
      }
      .slide2-map {
        width: 100%;
      }

      .the_concept {
        font-size: 1.84em;
        font-family: "Exo";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        margin-bottom: 60px;
      }

      .we_deliver {
        font-size: 1.05em;
        font-family: "Exo";
        color: rgb(255, 255, 255);
        line-height: 1.5;
        text-align: left;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }
    }

    .slide3 {

      .row {
        background-image: url(../images/rectangle_1.png);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% 95%;
        margin: 10px 0;
      }

      .our_main_service {
        font-size: 1.05em;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 1.5;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }

    }

    .slide4 {
      .tech-icon {
        margin: 20px auto;
        height: 120px;
        > img {
          max-height: 100%;
          max-width: 100%;
          top: 30%;
          position: relative;
          transform: translateY(-50%);
        }
        > p {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
      .we_shoulder {
        padding: 15px 10px;
        clear: both;
        font-size: 1.32em;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 1.5;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08514501832789,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08514501832789,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08514501832789,0,0);
      }

    }

    .slide5 {

      .bottom_shadow {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
       // background-image: -moz-linear-gradient( 90deg, rgb(11,28,36) 0%, rgba(2,3,7,0) 100%);
       // background-image: -webkit-linear-gradient( 90deg, rgb(11,28,36) 0%, rgba(2,3,7,0) 100%);
       // background-image: -ms-linear-gradient( 90deg, rgb(11,28,36) 0%, rgba(2,3,7,0) 100%);
      }
      .hit-image {
       // position: absolute;
       // bottom: 0;
       // top: 3%;
       // right: 8%;
       // left: 8%;
       // overflow: hidden;
        .inside-image {
         // top: 0;
         // left: 0;
         // width: 100%;
        }
      }
      .inside-image {
       max-width: 100%;
      }
      .image-description {
        margin-top: 5px;
        font-size: 1.45em;
        font-family: "Exo";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }

      .startups-rect {
        position: relative;
        top: -30px;
        &.hit-rect {
          top: 0px;
        }
      }
    }
  .slide6, .slide7, .slide8 {
    .hit-image, .mas-image, .wf-image {
      width: 100%;
    }

    .hit-image {
    }

    .mas-image {
    }

    .wf-image {
    }

    .hit-header, .mas-header, .wf-header {
      > span {
        font-size: 1.84em;
        font-family: "Exo";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }
    }

    .technologies {
      margin-top: 30px;
      font-size: 1.84em;
      font-family: "Myriad Pro";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left;
      -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
    }

    .hit-description, .mas-description, .wf-description {
    //  position: relative;
    //  top: 50%;
    //  transform: translateY(-50%);
    }

    .slide-description-hit, .slide-description-mas, .slide-description-wf {
      font-size: 1.32em;
      font-family: "Myriad Pro";
      color: rgb(255, 255, 255);
      line-height: 1.5;
      text-align: left;
      -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
    }
  }

    .tech-key {
      &:before {
        display: inline-block;
        height: 7px;
        top: 50%;
        position: relative;
        width: 7px;
        background-color: #41b6e6;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg) translateY(-50%);
        margin-right: 10px;
        content: ' ';
      }
    }

    .slide9 {
      margin: 10px 50px;
      .row {
        .dot {
          left: 0.8%;
          display: inline-block;
          height: 7px;
          top: 50%;
          position: absolute;
          width: 7px;
          background-color: #41b6e6;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg) translateY(-50%);
          margin-right: 10px;
          content: ' ';
        }
        margin: 20px auto;
        padding: 30px 0;
        background-image: url(../images/focus-row.png);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% 100%;
        font-size: 1.7em;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720475274,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720475274,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720475274,0,0);
      }

    }

    .slide10 {
      .row {
        padding: 30px 10px;
        font-size: 1.7em;
        margin: 50px auto;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 1.385;
        text-align: center;
        -moz-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -webkit-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
        -ms-transform: matrix( 1.07853071230185,0,0,1.08602720342926,0,0);
      }
      .contacts-info {
        width: 100%;
        .contacts-key {
          font-size: 1.57em;
          font-family: "Exo";
          color: rgba(255, 255, 255, 0.2);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1;
          text-align: left;
          -moz-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -webkit-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -ms-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
        }
        .contacts-val {
          font-size: 1.57em;
          font-family: "Exo";
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1;
          text-align: left;
          -moz-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -webkit-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -ms-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
        }


      }
      .contacts-maksym {
        text-align: left;
        hr {
          position: absolute;
          width: 50vw;
          left: 0px;
          top: 1.5em;
          border: 1px solid #41b6e6;
        }
      }
      .contacts-daniel {
        text-align: right;
        hr {
          position: absolute;
          width: 50vw;
          right: 0px;
          top: 1.5em;
          border: 1px solid #41b6e6;
        }
      }
      .contacts-daniel, .contacts-maksym {
        margin-top: 20px;
        img {
          max-height: 100%;
          max-width: 100%;
        }
        position: relative;
        .name {
          font-size: 2.41em;
          font-family: "Myriad Pro";
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.2;
          -moz-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -webkit-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -ms-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
        }
        .profession {
          font-size: 1.57em;
          font-family: "Myriad Pro";
          color: rgb(72, 174, 217);
          text-transform: uppercase;
          line-height: 1.2;
          -moz-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -webkit-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
          -ms-transform: matrix( 0.81590813744965,0,0,0.81590813744965,0,0);
        }
      }
    }

  }
  .footer {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    color: #fff;
  }
}